.TVN__button__blurple {
  border: 1px solid var(--control-primary-border-default);

  background-color: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  color: var(--control-primary-text-default);
}

.TVN__button__blurple:hover:not(:disabled) {
  background-color: var(--control-primary-background-hover);
  border-color: var(--control-primary-border-hover);
  color: var(--control-primary-text-hover);
}

.TVN__button__blurple:active:not(:disabled) {
  background-color: var(--control-primary-background-active);
  border-color: var(--control-primary-border-active);
  color: var(--control-primary-text-active);
}

.TVN__button__blurple:disabled {
  cursor: default;
}
